.advantages--image {
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center bottom -6%;
}

.advantages__header {
  padding-top: 42px;
  padding-bottom: 32px;

  background-color: #ffffff;
}

.advantages__moto {
  width: 209px;
  margin: 0 auto;

  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  color: $blue;
  text-align: center;
}

.advantages__moto:first-child {
  margin-bottom: 32px;
}

.advantages__list {
  position: relative;
  z-index: -1;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  padding-top: 83px;
  padding-bottom: 285px;

  background-color: #f2f2f2;
  list-style: none;
}

.advantages__list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 320px;
  height: 30px;

  background: linear-gradient(to bottom right, white 50%, #f2f2f2 50%);
}

.advantages__item {
  box-sizing: border-box;
  width: 280px;
  margin: 0;
  margin-bottom: 32px;

  text-align: center;
}

.advantages__desc {
  margin: 0;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: $blue;
}

.advantages__title {
  margin: 0;
  margin-bottom: 11px;
}

@media (min-width: $tablet-width) {
  .advantages__header {
    padding-top: 50px;
    padding-left: 19px;
    padding-right: 19px;

    margin-bottom: 15px;
  }

  .advantages__moto {
    width: auto;

    font-size: 40px;
    line-height: 48px;
  }

  .advantages__moto:first-child {
    margin-bottom: 0;
  }

  .advantages__moto:nth-child(2) {
    width: 340px;
  }

  .advantages__list {
    align-items: flex-end;
    padding-right: 30px;
    padding-top: 74px;
    padding-bottom: 43px;
  }

  .advantages__item {
    width: 300px;
    margin-bottom: 35px;
  }

  .advantages__item:last-child {
    margin-bottom: 0;
  }

  .advantages--image {
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-position: left 19px bottom;
  }

  .advantages__list::before {
    top: -2px;

    width: 660px;
    height: 50px;
  }

  .advantages__title,
  .advantages__desc {
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .advantages--image {
    background: none;
  }

  .advantages__header {
    padding-top: 68px;
    margin-bottom: 47px;
  }

  .advantages__moto {
    font-size: 50px;
    line-height: 60px;
  }

  .advantages__moto:nth-child(2) {
    width: 445px;
  }

  .advantages__list::before {
    width: 1200px;
    height: 92px;
  }

  .advantages__list {
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 30px;
  }

  .advantages__item {
    position: relative;
    z-index: 5;

    padding-top: 350px;

    background-repeat: no-repeat;
    background-position: center top -4%;
  }

  .advantages__item--bg-mood {
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
  }

  .advantages__item--bg-world {
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
  }

  .advantages__item--bg-friens {
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
  }

  .advantages__title {
    width: 210px;
    margin: 0 auto;
    margin-bottom: 25px;

    font-size: 30px;
    line-height: 30px;
  }

  .advantages__desc {
    width: 230px;
    margin: 0 auto;

    font-size: 18px;
    line-height: 30px;
  }

  .advantages__title,
  .advantages__desc {
    text-align: center;
  }
}
