.app-cost {
  overflow: hidden;
  background-color: $color-bg;
}

.app-cost__table {
  margin-bottom: 50px;
  transition: transform 0.7s ease;
}

.app-cost__slider {
  margin: 0 auto;
}

@include slider-label-style ("rate", ".app-cost__slider", 3);

#rate-1:checked ~ .app-cost__table {
  transform: translateX(0);
}

#rate-2:checked ~ .app-cost__table {
  transform: translateX(-31%);
}

#rate-3:checked ~ .app-cost__table {
  transform: translateX(-62%);
}
