.app-download {
  min-height: 370px;
  padding-bottom: 29px;
  padding-top: 90px;

  background:
    left top 176px no-repeat url("../img/iphone-hand-mobile@1x.png"),
    center top no-repeat url("../img/bg-back-mobile@1x.jpg");
  background-color: #1d2631;
}

.app-download__moto {
  display: block;
  width: 225px;
  margin: 0 auto;

  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
}

.app-download__button {
  margin: 0 auto;
  margin-top: 343px;
  margin-bottom: 32px;
}

.app-download__list {
  margin: 0 auto;
  margin-bottom: 20px;
}

.app-download__text {
  width: 235px;
  margin: 0 auto;

  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .app-download {
    background: center no-repeat url("../img/bg-back-tablet@1x.jpg");
  }
}

@media (min-width: $desktop-width) {
  .app-download {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }
}
