.app-cost {
  padding-top: 66px;
  padding-bottom: 50px;

  overflow: hidden;
  background-color: $color-bg;

  @media (min-width: $tablet-width) {
    padding-top: 37px;
    padding-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 79px;
    padding-bottom: 52px;
  }
}

.app-cost__table {
  margin-bottom: 43px;
  transition: transform 0.7s ease;
}

.app-cost__slider {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.app-cost__rate-1:checked ~ .app-cost__slider label[for="rate-1"],
.app-cost__rate-2:checked ~ .app-cost__slider label[for="rate-2"],
.app-cost__rate-3:checked ~ .app-cost__slider label[for="rate-3"] {
  background-color: transparent;
  box-shadow: 0 0 0 3px $color-secondary;
  opacity: 1;
}

.app-cost__rate-1:focus ~ .app-cost__slider label[for="rate-1"],
.app-cost__rate-2:focus ~ .app-cost__slider label[for="rate-2"],
.app-cost__rate-3:focus ~ .app-cost__slider label[for="rate-3"] {
  box-shadow: 0 0 0 3px $color-main;
}


.app-cost__rate-1:checked ~ .app-cost__table {
  transform: translateX(0);
}

.app-cost__rate-2:checked ~ .app-cost__table {
  transform: translateX(-31%);
}

.app-cost__rate-3:checked ~ .app-cost__table {
  transform: translateX(-62%);
}

.app-cost__rate-1:checked ~ .app-cost__table,
.app-cost__rate-2:checked ~ .app-cost__table,
.app-cost__rate-3:checked ~ .app-cost__table {
  @media (min-width: $tablet-width) {
    transform: translateX(0);
  }
}

.app-cost__input {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
