.button {
  display: block;
  box-sizing: border-box;
  max-width: 300px;
  padding: 15px 36px;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;

  &:hover {
    color: $color-main;
    background-color: #ffffff;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}
