.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  margin: 0;
  padding: 0 15px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $color-secondary;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding-right: 0;
    padding-left: 21px;
    padding-top: 7px;
  }

  @media (min-width: $desktop-width) {
    width: 155px;
    padding-top: 3px;
    padding-left: 0;

    font-size: 18px;
  }
}

.copyright__link .copyright__htmlacademy-logo {
  fill: $color-main;
}

.copyright__link:hover .copyright__htmlacademy-logo {
  fill: $color-secondary;
}

.copyright__link:active .copyright__htmlacademy-logo {
  opacity: 0.3;
}
