.cost-table {
  margin: 0 auto;
  border-collapse: collapse;
}

.cost-table__cell {
  position: relative;

  box-sizing: border-box;
  min-width: 279px;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 18px;

  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  color: $color-secondary;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    min-width: 155px;
    padding: 8px 15px;
  }

  @media (min-width: $desktop-width) {
    min-width: 234px;
    padding: 15px 19px;

    font-size: 18px;
  }
}

.cost-table__cell-head {
  padding-top: 18px;
  padding-bottom: 21px;
  padding-left: 20px;
  padding-right: 18px;

  background-color: $color-secondary;
  color: #ffffff;
  border-top: none;
  border-bottom-color: $color-secondary;

  @media (min-width: $tablet-width) {
    padding-top: 13px;
    padding-bottom: 9px;
    padding-right: 17px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 19px;
    padding-bottom: 20px;
  }
}

.cost-table__cell-head:nth-child(2) {
  border-left: none;
  border-radius: 2px 0 0 2px;
}

.cost-table__cell-head:last-child {
  border-right: none;
  border-radius: 0px 2px 2px 0px;
}

.cost-table__cell-head--first {
  display: none;

  @media (min-width: $tablet-width) {
    display: table-cell;

    background-color: transparent;
    border: none;
  }
}

.cost-table__title {
  width: 105px;
  margin: 0 auto;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.cost-table__price {
  width: 115px;
  margin: 0 auto;

  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: -3px;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
      margin-top: 0;
    font-size: 24px;
  }
}

.cost-table__opiton-name {
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.cost-table__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: center;
  }
}

.cost-table__cell--first {
  display: none;

  @media (min-width: $tablet-width) {
    display: table-cell;
  }
}
