.features {
  display: none;
  padding-left: 19px;
  padding-right: 19px;

  background-color: $color-bg;

  @media (min-width: $tablet-width) {
    display: block;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    background-color: $color-bg;
  }
}

.features__icon-timer {
  margin: 0;
  margin-top: 59px;

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-right: 65px;
  }
}

.features__text {
  width: 312px;
  margin-top: 95px;

  @media (min-width: $desktop-width) {
    width: 530px;
    margin-top: 93px;
  }

}

.features__moto {
  display: block;
  width: 175px;
  margin-bottom: 10px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;

  @media (min-width: $desktop-width) {
    width: 300px;
    margin-bottom: 25px;

    line-height: 30px;
  }
}

.features__desc {
  width: 296px;
  margin: 0;
  margin-bottom: 10px;
  text-align: left;

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-bottom: 32px;

    font-size: 18px;
    line-height: 30px;
  }
}

.features__moto br {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.features__wrapper {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 620px;
    padding-bottom: 65px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    justify-content: stretch;
    width: 940px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
  }
}

.features__link {
  color: $color-main;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}
