.form-user-name {
  padding-top: 0;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    width: 621px;
    padding: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 470px;
    margin: 0;
    padding-top: 6px;
    padding-bottom: 0;
  }
}

.form-user-name__input {
  &:last-child {
    margin-bottom: 0;
  }
}
