.form {
  position: relative;

  box-sizing: border-box;
  width: 320px;
  padding: 0 20px;
  padding-top: 33px;
  padding-bottom: 40px;
  margin: 0;

  border: none;

  @media (min-width: $tablet-width) {
    width: 620px;
    margin: 0 20px;
    padding-left: 58px;
    padding-right: 58px;
    padding-bottom: 56px;

    border: 2px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.form__input {
  box-sizing: border-box;
  width: 280px;
  padding: 15px 21px;
  margin-bottom: 16px;

  border: 2px solid #e7e7e7;
  border-radius: 2px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: $color-secondary;

  &:hover {
    border-color: $color-secondary;
  }

  &:active,
  &:focus {
    border-color: $color-main;
    outline: none;
  }

  @media (min-width: $tablet-width) {
    width: 525px;
    margin-bottom: 52px;
    padding-top: 15px;
    padding-bottom: 14px;

    &[name="name"] {
      width: 565px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 340px;
    margin-bottom: 53px;

    &[name="name"] {
      width: 380px;
    }
  }
}

.form__input:focus + .form__label::before {
  border-color: $color-main;
}

.form__label {
  display: inline-block;
  line-height: 30px;

  &:hover {
    cursor: pointer;
  }

  &:hover::before {
    border-color: $color-secondary;
  }

  &:active::before {
    border-color: $color-main;
  }
}

.form__label--main {
  padding-left: 22px;
  margin-bottom: 5px;

  font-size: 14px;
  color: $color-main;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    margin-right: 15px;
  }
}

.form__label--secondary {
  position: relative;

  box-sizing: border-box;
  width: 280px;
  padding-left: 69px;
  margin-bottom: 52px;

  font-size: 18px;
  line-height: 30px;

  &:hover {
    cursor: pointer;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding-left: 59px;
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.form__legend {
  display: none;

  color: $color-main;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: block;
    width: auto;
    max-width: 390px;
    margin: 0 auto;
    padding: 0 25px;
  }
}

.form__label--checkbox::before {
  @include draw-input-box();
}

.form__input:checked + .form__label--checkbox::after {
  content: "";
  position: absolute;
  left: 10px;
  top: 6px;

  width: 22px;
  height: 16px;

  background-image: url("../img/icon-yes-main-color.svg");
  background-size: contain;
  background-position: center;
}

.form__label--radio::before {
  @include draw-input-box(50%);
}

.form__input:checked + .form__label--radio::after {
  content: "";
  position: absolute;
  left: 12px;
  top: 7px;

  width: 15px;
  height: 15px;

  background-color: $color-main;
  border-radius: 50%;
}

.form__textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 201px;
  margin: 0;
  padding: 14px 18px;

  border: 2px solid #e5e5e5;
  color: $color-secondary;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-family: inherit;

  @media (min-width: $tablet-width) {
    padding-top: 16px;
    padding-bottom: 16px;
    min-height: 193px;
  }

  @media (min-width: $desktop-width) {
    min-height: 128px;
    padding-top: 14px;
  }
}

.form__title {
  width: 220px;
  margin: 0 auto;

  color: $color-main;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
