.form-app-platform {
  padding-top: 0;
  padding-bottom: 47px;

  background-color: $color-bg;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 59px;

    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    width: 434px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    padding-top: 49px;
    padding-bottom: 59px;
  }
}

.form-app-platform__label {
  margin-bottom: 45px;

  @media (min-width: $desktop-width) {
    margin-left: 72px;
    margin-bottom: 44px;
  }
}

.form-app-platform__title {
  margin-top: 38px;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    width: 368px;
    margin-top: -60px;
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -58px;
    margin-bottom: 51px;
  }
}

.form-app-platform__input {
  width: 1px;
  height: 1px;
}
