.form-emotions {
  padding-top: 0;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    padding-top: 37px;
    padding-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 33px;
    padding-bottom: 36px;
  }
}

.form-emotions__title {
  margin-top: 37px;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    width: 260px;
    margin-top: -48px;
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -43px;
    margin-bottom: 34px;
  }
}
