.form-add-photo {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.form-add-photo__image {
  width: 280px;
  height: 374px;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 400px;
  }
}

.form-add-photo__button {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    width: 260px;
    margin: 0;
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 183px;
    margin-right: 40px;
  }

  &:nth-child(odd) {
    margin-right: 0;
  }
}

.form-add-photo__button--add {
  // margin-bottom: 13px;

  background-color: $color-bg;
  color: $color-main;
  border-color: $color-main;

  @media (min-width: $tablet-width) {
    // margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }

  &:hover {
    background-color: $color-main;
    color: #ffffff;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.form-add-photo__button--cancel {
  color: $color-secondary;
  border-color: $color-secondary;
  opacity: 0.1;

  &:hover {
    color: $color-secondary;
    opacity: 0.3;
  }

  &:active {
    background-color: $color-secondary;
    color: rgba(255, 255, 255, 0.5);
    opacity: 0.5;
  }
}

.form-add-photo__list {
  margin-bottom: 65px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 136px;
  }
}

.form-add-photo__wrapper {
  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: 300px;
    padding-left: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 410px;
    padding: 0;
  }
}
