.form-add-photo__image {
  margin-bottom: 34px;
}

.form-add-photo__list {
  margin-bottom: 32px;
}
.form-add-photo__button {
  width: 280px;
  margin: 0 auto;

  background-color: #f2f2f2;
  color: $color-main;
  border-color: $color-main;

  &:hover {
    background-color: $color-main;
    color: #ffffff;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.form-add-photo__button--cancel {
  color: rgba(40, 54, 69, 0.1);
  border-color: rgba(40, 54, 69, 0.1);

  &:hover {
    background-color: #f2f2f2;
    color: rgba(40, 54, 69, 0.3);
    border-color: rgba(40, 54, 69, 0.3);
  }

  &:active {
    // background-color: rgba(40, 54, 69, 0.3);
    background-color: #b5b9be;
    opacity: 1;
  }
}
