.form {
  position: relative;

  padding-top: 115px;
  padding-bottom: 47px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;

  border: none;
  background-color: $color-bg;

  @media (min-width: $tablet-width) {
    border: 2px solid #e5e5e5;
    background-color: #ffffff;
  }
}

.form__label {
  position: relative;

  display: block;
  box-sizing: border-box;
  width: 280px;
  padding-left: 69px;
  margin-bottom: 52px;

  font-size: 18px;
  line-height: 30px;

  &:hover {
    cursor: pointer;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form__label:before {
  content: "";
  position: absolute;
  left: 0;
  top: -4px;

  width: 35px;
  height: 35px;

  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.form__input--checkbox:checked + .form__label--checkbox:after {
  content: "";
  position: absolute;
  left: 10px;
  top: 6px;

  width: 22px;
  height: 16px;

  background-image: url("../img/icon-yes-main-color.svg");
  background-size: contain;
  background-position: center;
}

.form__label--radio:before {
  top: -5px;
  border-radius: 50%;
}

.form__title--radio {
  margin-bottom: 40px;
}

.form__label--radio {
  margin-bottom: 44px;
}

.form__input--radio:checked + .form__label--radio:after {
  content: "";
  position: absolute;
  left: 12px;
  top: 7px;

  width: 15px;
  height: 15px;

  background-color: $color-main;
  border-radius: 50%;
}

.form__label:hover::before {
  border-color: $color-secondary;
}

.form__label:active::before {
  border-color: $color-main;
}

.form__label:focus::before {
  border-color: green;
}

.form__input:focus + .form__label:before {
  border-color: $color-main;
}

.form__legend {
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%, -6%);

  width: 220px;
  padding: 0;
  margin: 0;

  color: $color-main;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}
