.form-achievements {
  padding-bottom: 48px;
  padding-top: 0;

  background-color: $color-bg;

  @media (min-width: $tablet-width) {
    padding-top: 48px;
    padding-bottom: 52px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    padding-right: 57px;
    padding-bottom: 59px;
    padding-top: 47px;
  }
}

.form-achievements__label {
  @media (min-width: $desktop-width) {
    margin-bottom: 53px;
  }
}

.form-achievements__wrapper-main {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.form-achievements__wrapper {
  margin-bottom: 51px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    margin-right: 57px;
    margin-bottom: 0;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.form-achievements__title {
  margin-top: 39px;
  margin-bottom: 44px;
}
