.form-app-platform {
  padding-top: 0;
  padding-bottom: 47px;

  background-color: $color-bg;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 57px;

    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    width: 434px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    padding-top: 49px;
    padding-bottom: 61px;
  }
}

.form-app-platform__label {
  margin-bottom: 45px;

  @media (min-width: $desktop-width) {
    margin-left: 72px;
    margin-bottom: 44px;
  }
}

.form-app-platform__title {
  margin-top: 38px;
  margin-bottom: 40px;
}
