.form-contacts {
  padding-top: 32px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 38px;
    padding-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 35px;
    padding-bottom: 8px;
  }
}

.form-contacts__legend {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.form-contacts__wrapper:first-of-type {
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form-contacts__input {
  @media (min-width: $tablet-width) {
    width: 500px;
    margin-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.form-contacts__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    width: 375px;
  }
}

.form-contacts__label {
  @media (min-width: $tablet-width) {
    order: 1;
    padding-left: 19px;
  }
}

.form-contacts__input-wrapper {
  @media (min-width: $tablet-width) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      right: 2px;
      top: 2px;

      width: 60px;
      height: 59px;

      background-color: #e5e5e5;
      background-repeat: no-repeat;
      background-position: center;
    }

    &--mail::before {
      background-image: url("../img/icon-mail.svg");
    }

    &--telephone::before {
      background-image: url("../img/icon-phone.svg");
    }
  }
}

.form-contacts__main-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.form-contest__additional-text {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.form-contacts__title {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 260px;
    margin-top: -46px;
    margin-bottom: 36px;
  }
}
