.form-emotions {
  padding-top: 72px;
  padding-bottom: 44px;

  @media (min-width: $tablet-width) {
    padding-top: 37px;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 37px;
  }
}
