.hit::after {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;

  width: 73px;
  height: 73px;

  background-image: url("../img/bg-hit.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 102%;

  @media (min-width: $tablet-width) {
    left: 0;

    width: 61px;
    height: 61px;

    overflow: hidden;
    background-size: 118%;
  }
}

.hit::before {
  content: "Хит";
  position: absolute;
  top: 12px;
  left: 10px;
  z-index: 10;

  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  transform: rotate(-45deg);

  @media (min-width: $tablet-width) {
    top: 3px;
    left: 8px;
  }
}
