.icon-timer {
  position: relative;

  width: 240px;
  min-height: 275px;

  background-image: url("../img/icon-timer-gray.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 239px auto;

  @media (min-width: $desktop-width) {
    width: 300px;
    height: 345px;

    background-size: 300px auto;
  }
}

.icon-timer__number {
  position: absolute;
  top: 55px;
  left: 20px;

  width: 172px;
  height: 172px;

  font-size: 96px;
  line-height: 149px;
  font-weight: 700;
  color: $color-main;
  border: 15px solid $color-main;
  border-radius: 50%;
  text-align: center;

  @media (min-width: $desktop-width) {
    width: 220px;
    height: 220px;

    top: 71px;
    left: 23px;

    font-size: 120px;
    line-height: 186px;
    border-width: 17px;
  }
}
