.icon-no {
  position: relative;

  display: inline-block;
  width: 27px;
  height: 27px;

  vertical-align: middle;
}

.icon-no::before,
.icon-no::after {
  content: "";
  position: absolute;
  top: 46%;
  left: -30%;

  width: 35px;
  height: 3px;

  background-color: #f25b26;
}

.icon-no::before {
  transform: translate(10%, -46%) rotate(45deg);
}

.icon-no::after {
  transform: translate(10%, -46%) rotate(-45deg);
}
