.link-list {
  display: flex;
  flex-wrap: wrap;
  width: 210px;
  padding: 0;

  list-style: none;
}

.link-list__item {
  margin-right: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.link-list__link {
  display: block;
  width: 50px;
  height: 60px;
}

.link-list_logo--apple {
  margin-left: 2px;
  margin-top: 2px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    margin-top: 1px;
  }
}

.link-list_logo--android {
  margin-left: 3px;
  margin-top: 11px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    margin-left: 5px;
    margin-top: 5px;
  }
}

.link-list_logo--microsoft {
  margin-left: 3px;
  margin-top: 15px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    margin-top: 13px;
  }
}
