.link {
  color: $color-main;

  &:hover {
    color: $color-secondary;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
