.menu-list {
  margin: 0;
  padding: 0;

  list-style: none;
  border-top: 1px solid #000001;
}

.menu-list__item {
  padding-top: 15px;
  padding-bottom: 15px;

  text-align: center;
  border-bottom: 1px solid #000001;
  border-top: 1px solid #485461;
}

.menu-list__link {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: $pink;
  }
  &:active {
    opacity: 0.3;
  }
}

.menu-list__link--current {
  cursor: pointer;
}

@media (min-width: $desktop-width) {
  .menu-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 620px;
  }

  .menu-list__item {
    border: none;
  }

  .menu-list__link {
    line-height: 18px;
    font-weight: 400;

    text-transform: none;
  }

  .menu-list__link--current {
    padding-bottom: 10px;
    border-bottom: 2px solid white;
  }
}
