.page-main {
  width: 320px;
  margin: 0 auto;
}

.page-main__title {
  width: 240px;
  margin: 0 auto;
}

.page-main__header {
  min-height: 140px;
  padding-top: 30px;

  background: url("../img/bg-back-mobile@1x-2.jpg");
  background-position: 50% 30%;
  background-color: $blue;
}
