.page-main {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 660px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    max-width: 1200px;
  }
}

.page-main__title {
  width: 240px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 60px;
  }
}

.page-main__header {
  min-height: 140px;
  padding-top: 30px;

  background: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: $color-secondary;

  @media (min-width: $mobile-width) {
    padding-top: 97px;
  }

  @media (min-width: $tablet-width) {
    min-height: 258px;
    padding-top: 180px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: left -270px top;
  }

  @media (min-width: $desktop-width) {
    padding-top: 175px;
    min-height: 219px;

    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: top;
  }
}

.page-main__popular-photo {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
  }
}

.page-main__header--photo-page .page-main__title {
  @media (min-width: $tablet-width) {
    width: 370px;
  }
}

.page-main__header--form-page .page-main__title {
  @media (min-width: $tablet-width) {
    width: 495px;
  }

  @media (min-width: $desktop-width) {
    width: 775px;
  }
}
