.page-main {
  width: 320px;
  margin: 0 auto;
}

.page-main__title {
  width: 240px;
  margin: 0 auto;
}

.page-main__header {
  min-height: 140px;
  padding-top: 30px;

  background: url("../img/bg-back-mobile@1x-2.jpg");
  background-position: 50% 30%;
  background-color: $blue;
}

@media (min-width: $mobile-width) {
  .page-main__header--photo-page {
    padding-top: 99px;
  }
}

@media (min-width: $tablet-width) {
  .page-main {
    width: $tablet-width;
  }

  .page-main__header--photo-page {
    min-height: 258px;
    padding-top: 183px;
  }

  .page-main__title {
    width: 370px;

    font-size: 50px;
    line-height: 60px;
  }

  .page-main__popular-photo {
    margin-bottom: 48px;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    width: $desktop-width;
  }
}
