.photo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    padding: 0;
    margin: 0 auto;
  }
}

.photo-list__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  box-sizing: border-box;
  width: 280px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 18px;
  padding-bottom: 21px;

  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    width: 300px;
    min-height: 155px;
    padding-top: 25px;
    padding-left: 27px;
    padding-right: 31px;
    padding-bottom: 21px;
  }
}

.photo-list__info {
  margin: 0;
  padding: 0;
}

.photo-list__item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 54px;
  }
}

.photo-list__author-name {
  display: inline-block;
}

.photo-list__author-name,
.photo-list__quote {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: $color-secondary;
}

.photo-list__publication-time {
  display: inline-block;
  margin: 0;

  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  color: $color-secondary;
  text-transform: uppercase;
}

.photo-list__quote {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin-bottom: auto;
  }
}

.photo-list__item picture {
  height: 180px;

  @media (min-width: $tablet-width) {
    height: 300px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }
}
