.scale {
  position: absolute;
  top: 84px;
  left: -15px;

  width: 240px;
  height: 2px;
  margin: 0 auto;

  background-color: $color-secondary;

  @media (min-width: $tablet-width) {
    position: relative;
    top: 0;
    left: 0;

    width: 200px;
    margin: 0;
    margin-top: 19px;
  }

  @media (min-width: $desktop-width) {
    width: 287px;
  }
}

.scale__range-toggle {
  content: "";
  position: absolute;
  right: 34px;
  top: -5px;

  width: 10px;
  height: 10px;

  background-color: $color-bg;
  border: 2px solid $color-main;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
  }

  &:active {
    background-color: $color-main;
  }

  @media (min-width: $tablet-width) {
    right: 41px;
  }
}

.scale__range-toggle--contrast {
  @media (min-width: $tablet-width) {
    right: 89px;
  }

  @media (min-width: $desktop-width) {
    right: 112px;
  }
}

.scale__range-toggle--fill {
  @media (min-width: $tablet-width) {
    left: 24px;
  }

  @media (min-width: $desktop-width) {
    left: auto;
    right: 27px;
  }
}

.scale__range-toggle--crop {
  @media (min-width: $desktop-width) {
    left: 70px;
  }
}
