.scale {
  position: absolute;
  top: 84px;
  left: -15px;

  width: 240px;
  height: 2px;
  margin: 0 auto;

  background-color: $color-secondary;

  @media (min-width: $tablet-width) {
    position: relative;
    top: 0;
    left: 0;

    margin: 0;
    margin-top: 19px;

    width: 200px;
  }
}

.scale__range-toggle {
  content: "";
  position: absolute;
  right: 34px;
  top: -5px;

  width: 10px;
  height: 10px;

  background-color: $color-bg;
  border: 2px solid $color-main;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
  }

  &:active {
    background-color: $color-main;
  }

  @media (min-width: $tablet-width) {
    right: 41px;
  }
}
