.site-logo:hover {
  cursor: pointer;
}

.site-logo:hover .site-logo__tablet path {
  @media (max-width: $desktop-width) {
    fill: $color-main;
  }
}

.site-logo:active .site-logo__tablet path {
  @media (max-width: $desktop-width) {
    fill-opacity: 0.3;
  }
}

.site-logo__mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.site-logo__tablet {
  display: none;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    display: block;
  }
}

.site-logo__desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
