.site-logo {
  fill: white;

  @media (max-width: $tablet-width) {
    width: 70px;
    height: 22px;
  }

  @media (min-width: $tablet-width) {
    width: 147px;
    height: 40px;
  }
}

.site-logo:hover {
  cursor: pointer;
}

.site-logo__mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.site-logo__tablet {
  display: none;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    display: block;
  }
}

.site-logo__desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
