.slider-controls {
  width: 57px;
  display: flex;
  justify-content: space-between;
}


.slider-controls__label {
  display: inline-block;
  width: 6px;
  height: 6px;

  vertical-align: top;

  border-radius: 50%;
  background-color: $color-secondary;
  opacity: 0.3;
}

.slider-controls__label:hover {
  opacity: 0.6;
  cursor: pointer;
}

.slider-controls__label:active {
  opacity: 0.1;
}
