.text-form {
  display: flex;

  padding-bottom: 42px;
  padding-top: 33px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;

  border: none;
}

.text-form__label {
  padding-left: 22px;
  margin-bottom: 6px;

  line-height: 30px;
  color: $color-main;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }
}

.text-form__input {
  box-sizing: border-box;
  width: 280px;
  padding: 15px 20px;
  margin-bottom: 15px;

  border: 2px solid #e7e7e7;
  border-radius: 2px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: $color-secondary;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    border-color: $color-secondary;
  }

  &:active {
    border-color: $color-main;
  }

}

.text-form__textarea {
  width: 100%;
  min-height: 198px;
  margin: 0;
  padding: 0;

  border: 2px solid #e5e5e5;
}

.text-form__label--emotions {
  padding-left: 47px;
  margin-bottom: 8px;
}
