.user-photos__moto {
  width: 245px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 51px;

  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: $color-secondary;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 445px;
    padding-top: 92px;
    padding-bottom: 74px;

    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 580px;
    padding-bottom: 87px;
  }
}
