.user-photos__moto {
  width: 245px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 50px;

  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: $color-secondary;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 445px;
    padding-top: 92px;
    padding-bottom: 75px;

    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 580px;
    padding-bottom: 88px;
  }
}

.user-photos__moto--footer {
  width: 265px;
  padding-top: 22px;
  padding-bottom: 43px;

  @media (min-width: $tablet-width) {
    width: 425px;
    padding-top: 45px;
    padding-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 5px;
    padding-bottom: 66px;
  }
}
