// Миксин для стилизации переключателей в слайдере
// $field-name - идентификатор поля input
// $slider-block-name - класс блока в котором расположены соответствующие label`ы
// $field-count - количество стилизуемых полей
//
// Пример селектора:
// #slide-1:checked ~ .feedback__slider label[for="#slide-1"]


@mixin slider-label-style($field-name, $slider-block-name, $field-count) {

  @for $i from 1 through $field-count {
    ##{$field-name}-#{$i}:checked ~ #{$slider-block-name} label[for="#{$field-name}-#{$i}"] {
      background-color: transparent;
      box-shadow: 0 0 0 3px $color-secondary;
      opacity: 1;
    }

    ##{$field-name}-#{$i}:focus ~ #{$slider-block-name} label[for="#{$field-name}-#{$i}"] {
    box-shadow: 0 0 0 3px $color-main;
    }
  }
}

// Миксин для отрисовки кастомных инпутов

@mixin draw-input-box($border-radius: 0%) {
  content: "";
  position: absolute;
  left: 0;
  top: -4px;

  width: 35px;
  height: 35px;

  border: 2px solid #e5e5e5;
  border-radius: $border-radius;
  background-color: #ffffff;
}
