// Миксин для стилизации круглых переключателей в слайдере
// $field-name - идентификатор поля input
// $slider-block-name - класс блока в котором расположены соответствующие label`ы
// $input-count - количество инпутов
@mixin slider-label-style($field-name, $slider-block-name, $input-count) {

  @for $i from 1 through $input-count {
    ##{$field-name}-#{$i}:checked ~ #{$slider-block-name} label[for="#{$field-name}-#{$i}"] {
      margin-top: 0;

      background-color: transparent;
      box-shadow: 0 0 0 3px $color-secondary;
      opacity: 1;
    }
  }
}
